[submodule "newlib"]
	path = newlib
	url = https://gitlab.engr.illinois.edu/fanglu2/saenaios-newlib.git
[submodule "gcc"]
	path = gcc
	url = https://gitlab.engr.illinois.edu/fanglu2/saenaios-gcc.git
[submodule "binutils"]
	path = binutils
	url = https://gitlab.engr.illinois.edu/fanglu2/saenaios-binutils.git
[submodule "fuse-lwext4"]
	path = fuse-lwext4
	url = https://gitlab.engr.illinois.edu/xutaoj2/saenaios-fuse-lwext4.git
