[submodule "newlib"]
	path = newlib
	url = https://gitlab.engr.illinois.edu/fanglu2/saenaios-newlib.git
[submodule "gcc"]
	path = gcc
	url = https://gitlab.engr.illinois.edu/fanglu2/saenaios-gcc.git
[submodule "binutils"]
	path = binutils
	url = https://gitlab.engr.illinois.edu/fanglu2/saenaios-binutils.git
[submodule "busybox"]
	path = busybox
	url = https://gitlab.engr.illinois.edu/fanglu2/saenaios-busybox.git
